
html {
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}


.overlay {
  position: absolute;
  top: 65px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1; 
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
}


.show-overlay {
  display: block;
}


.navbar-list li {
  position: relative;
  padding: 0;
}

.navbar-list li a::after {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--text-white);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.15s ease;
}

.navbar-list li a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/*CARRITO */

.cart-icon {
  transition: all 0.2s ease-out;
}

.cart-icon:hover {
  color: var(--electric);
  border-color: var(--electric);
  transition: all 0.2s ease-in;
}

/*Botones del carrito*/
.quantity-handler {
  transition: all 0.2s ease-in;
}

.quantity-handler:hover {
  cursor: pointer;
  background-color: var(--electric);
  transition: all 0.2s ease-in;
}

/*Botones comprar(carrito) y add(producto)*/
.btn-add,
.hero-info a {
  transition: all 0.2s ease-out;
}

.btn-add:hover,
.hero-info a:hover {
  background-color: var(--fire);
  transition: all 0.2s ease-in;
}

/* Boton ver mas de la sección de productos */
.btn-load {
  transition: all 0.2s ease-out;
  font-weight: 600;
}

.btn-load:hover {
  background-color: var(--electric);
  color: var(--text-white);
  transition: all 0.2s ease-in;
}
/* Animaciones */


/* Animacion fade */

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animacion slide arriba */

@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

/* Animacion slide derecha */


@keyframes slide-right {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}

/* Animacion al h1 */
.hero-info h1 {

  animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

/* Animacion al p */
.hero-info p {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.3s;
}

/* Animacion al boton */
.hero-info a {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.4s;
}

/* Animacion a la card del hero */
.hero-card {
  opacity: 0;
  animation: fade 1s ease-in forwards, slide-right 1.3s ease-in-out;
  animation-delay: 0.2s;
}

/* Animacion Seccion 2 */
#info h2 {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.4s;
}
p{ opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
  animation-delay: 0.4s;}
/* Animacion cards seccion 2 */
.info-card {
  opacity: 0;
  animation: fade 0.8s ease-in forwards, slide-up 1.3s ease-in-out;
}


.info-card:nth-child(1) {
  animation-delay: 0.8s;
}
.info-card:nth-child(2) {
  animation-delay: 0.7s;
}
.info-card:nth-child(3) {
  animation-delay: 1s;
}

/*interacción  imagenes de productos*/
.product img {
  transition: all 0.3s linear;
}

.product img:hover {
  transform: scale(1.02);
  transition: all 0.3s linear;
}




